.depart{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.depart-inp{
    width: 70rem;
    height: 3rem;
    position: relative;
    border-radius: 20px;
}

.depart-icons{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 16%;
}

.icons{
    font-size: 1.5rem;
}

.selects{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 2rem;
   
}

.flights-select{
    width: 25rem;
    height: 9rem;
    border: 2px solid;
    border-radius: 10px;
    margin-left: 1rem;
    margin-top: 1rem;
    box-shadow: 0rem  0rem  0.5rem 0.1rem  rgb(60, 58, 58);
}

.flt-btn{
    width: 10rem;
    height: 2rem;
    border-radius: 10px;
    cursor: pointer;
}

.flt-btn:hover{
   background-color: rgb(2, 2, 91);
   color: aliceblue;
}