.logo{
     width: 15rem;
}

.img{
    width: 3rem;
    border-radius: 50%;
    margin-left: 1rem;
}

.hmbg{
    width: 5rem;
}

.navbar{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #05203c;
}

.navbar-2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -10rem;
    padding: 1rem;


}

button{
    margin-left: 1rem;
}

.inp-section{
    display: flex;
    justify-content: center;
    width: 15rem;
    height: 6rem;
}

.modal-btn{
    position: relative;
    background-color: aliceblue;
    width: 3rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
    border-radius: 30px;
}

.modals{
    width: 13rem;
    height: 15rem;
    position: absolute;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 0 0.1rem 0.3rem white;
    right: 6%;
}
.modals div{
    margin-top: 1rem;
}


.modal-open{
    display: block;
}


.modal-none{
    display: none;
}
























