.footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border: 2px solid;
    margin-top: 1rem;
    background-color: #05203c;
    color: white;
    padding: 2rem;
}

.footer-btn{
    width: 15rem;
    height: 2rem;
    border-radius: 10px;
    background-color: #05203c;
    color: aliceblue;
}